aws_region         = "us-east-2"
project_name       = "eks-platform"
environment        = "development"
vpc_cidr           = "10.20.0.0/16"
single_nat_gateway = true
enable_flow_logs   = false

tags = {
  Owner = "platform-team"
}
